@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background span {
    width: 3px;
    height: 3px;
    border-radius: 3px;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 28;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffffff;
    top: 38%;
    left: 97%;
    animation-duration: 112s;
    animation-delay: -156s;
    transform-origin: 25vw 5vh;
    box-shadow: 2vmin 0 0.34644156081337596vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 83%;
    left: 97%;
    animation-duration: 150s;
    animation-delay: -214s;
    transform-origin: 7vw 7vh;
    box-shadow: -2vmin 0 0.7715255654532178vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffffff;
    top: 96%;
    left: 89%;
    animation-duration: 127s;
    animation-delay: -35s;
    transform-origin: -5vw -8vh;
    box-shadow: -2vmin 0 0.31032719909658124vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffffff;
    top: 25%;
    left: 100%;
    animation-duration: 50s;
    animation-delay: -31s;
    transform-origin: -8vw -5vh;
    box-shadow: 2vmin 0 1.0418382857195434vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffffff;
    top: 91%;
    left: 74%;
    animation-duration: 96s;
    animation-delay: -78s;
    transform-origin: 21vw 7vh;
    box-shadow: 2vmin 0 0.4030964880348811vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffffff;
    top: 19%;
    left: 63%;
    animation-duration: 218s;
    animation-delay: -142s;
    transform-origin: -2vw 9vh;
    box-shadow: -2vmin 0 0.8929577282579093vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffffff;
    top: 66%;
    left: 37%;
    animation-duration: 29s;
    animation-delay: -121s;
    transform-origin: -6vw 10vh;
    box-shadow: 2vmin 0 0.34408723284894616vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffffff;
    top: 96%;
    left: 2%;
    animation-duration: 175s;
    animation-delay: -164s;
    transform-origin: -23vw -14vh;
    box-shadow: 2vmin 0 0.6066086768926315vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffffff;
    top: 15%;
    left: 4%;
    animation-duration: 16s;
    animation-delay: -199s;
    transform-origin: 19vw -9vh;
    box-shadow: -2vmin 0 1.0926864628944488vmin currentColor;
}
.background span:nth-child(9) {
    color: #ffffff;
    top: 49%;
    left: 3%;
    animation-duration: 53s;
    animation-delay: -150s;
    transform-origin: -1vw 2vh;
    box-shadow: -2vmin 0 0.8421470410941483vmin currentColor;
}
.background span:nth-child(10) {
    color: #ffffff;
    top: 65%;
    left: 84%;
    animation-duration: 47s;
    animation-delay: -219s;
    transform-origin: -6vw 19vh;
    box-shadow: 2vmin 0 0.4116296281945604vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffffff;
    top: 24%;
    left: 99%;
    animation-duration: 122s;
    animation-delay: -159s;
    transform-origin: -6vw -13vh;
    box-shadow: 2vmin 0 1.2183213905193333vmin currentColor;
}
.background span:nth-child(12) {
    color: #ffffff;
    top: 8%;
    left: 48%;
    animation-duration: 123s;
    animation-delay: -109s;
    transform-origin: 22vw -13vh;
    box-shadow: -2vmin 0 0.7966075356131652vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffffff;
    top: 28%;
    left: 98%;
    animation-duration: 115s;
    animation-delay: -168s;
    transform-origin: 8vw 2vh;
    box-shadow: -2vmin 0 1.1603831997801828vmin currentColor;
}
.background span:nth-child(14) {
    color: #ffffff;
    top: 43%;
    left: 23%;
    animation-duration: 54s;
    animation-delay: -107s;
    transform-origin: -18vw -9vh;
    box-shadow: -2vmin 0 1.0510869911468477vmin currentColor;
}
.background span:nth-child(15) {
    color: #ffffff;
    top: 3%;
    left: 57%;
    animation-duration: 73s;
    animation-delay: -178s;
    transform-origin: 11vw 19vh;
    box-shadow: -2vmin 0 0.3955477837543233vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffffff;
    top: 75%;
    left: 2%;
    animation-duration: 59s;
    animation-delay: -76s;
    transform-origin: 11vw 22vh;
    box-shadow: 2vmin 0 1.119712057156273vmin currentColor;
}
.background span:nth-child(17) {
    color: #ffffff;
    top: 61%;
    left: 91%;
    animation-duration: 171s;
    animation-delay: -13s;
    transform-origin: 7vw -15vh;
    box-shadow: 2vmin 0 0.809822322142844vmin currentColor;
}
.background span:nth-child(18) {
    color: #ffffff;
    top: 6%;
    left: 38%;
    animation-duration: 158s;
    animation-delay: -63s;
    transform-origin: -19vw 14vh;
    box-shadow: -2vmin 0 0.793150702150984vmin currentColor;
}
.background span:nth-child(19) {
    color: #ffffff;
    top: 38%;
    left: 85%;
    animation-duration: 175s;
    animation-delay: -65s;
    transform-origin: -24vw 15vh;
    box-shadow: -2vmin 0 0.9277142768948574vmin currentColor;
}
.background span:nth-child(20) {
    color: #ffffff;
    top: 30%;
    left: 71%;
    animation-duration: 111s;
    animation-delay: -141s;
    transform-origin: 6vw -13vh;
    box-shadow: 2vmin 0 0.4780387428935682vmin currentColor;
}
.background span:nth-child(21) {
    color: #ffffff;
    top: 58%;
    left: 70%;
    animation-duration: 99s;
    animation-delay: -148s;
    transform-origin: -19vw -2vh;
    box-shadow: -2vmin 0 0.3894085039663524vmin currentColor;
}
.background span:nth-child(22) {
    color: #ffffff;
    top: 99%;
    left: 73%;
    animation-duration: 7s;
    animation-delay: -92s;
    transform-origin: 22vw 19vh;
    box-shadow: -2vmin 0 0.6397434992119562vmin currentColor;
}
.background span:nth-child(23) {
    color: #ffffff;
    top: 64%;
    left: 23%;
    animation-duration: 196s;
    animation-delay: -220s;
    transform-origin: -19vw -19vh;
    box-shadow: -2vmin 0 1.0411903613992919vmin currentColor;
}
.background span:nth-child(24) {
    color: #ffffff;
    top: 28%;
    left: 86%;
    animation-duration: 130s;
    animation-delay: -163s;
    transform-origin: -15vw -4vh;
    box-shadow: -2vmin 0 0.8079972069703691vmin currentColor;
}
.background span:nth-child(25) {
    color: #ffffff;
    top: 44%;
    left: 86%;
    animation-duration: 137s;
    animation-delay: -210s;
    transform-origin: -22vw 17vh;
    box-shadow: 2vmin 0 0.8479936441725227vmin currentColor;
}
.background span:nth-child(26) {
    color: #ffffff;
    top: 79%;
    left: 78%;
    animation-duration: 151s;
    animation-delay: -143s;
    transform-origin: -20vw 2vh;
    box-shadow: -2vmin 0 1.0288522640625626vmin currentColor;
}
.background span:nth-child(27) {
    color: #ffffff;
    top: 13%;
    left: 8%;
    animation-duration: 161s;
    animation-delay: -105s;
    transform-origin: -16vw -17vh;
    box-shadow: 2vmin 0 0.5118954521850492vmin currentColor;
}
.background span:nth-child(28) {
    color: #ffffff;
    top: 51%;
    left: 83%;
    animation-duration: 180s;
    animation-delay: -49s;
    transform-origin: 18vw 12vh;
    box-shadow: 2vmin 0 0.7079880332260466vmin currentColor;
}
.background span:nth-child(29) {
    color: #ffffff;
    top: 27%;
    left: 94%;
    animation-duration: 223s;
    animation-delay: -183s;
    transform-origin: -15vw 18vh;
    box-shadow: 2vmin 0 0.3650065608768027vmin currentColor;
}
.background span:nth-child(30) {
    color: #ffffff;
    top: 16%;
    left: 9%;
    animation-duration: 143s;
    animation-delay: -198s;
    transform-origin: -24vw 12vh;
    box-shadow: 2vmin 0 0.7154062760146744vmin currentColor;
}
.background span:nth-child(31) {
    color: #ffffff;
    top: 39%;
    left: 98%;
    animation-duration: 54s;
    animation-delay: -46s;
    transform-origin: -22vw -4vh;
    box-shadow: 2vmin 0 0.33233827065889554vmin currentColor;
}
.background span:nth-child(32) {
    color: #ffffff;
    top: 35%;
    left: 6%;
    animation-duration: 11s;
    animation-delay: -110s;
    transform-origin: 10vw -8vh;
    box-shadow: -2vmin 0 1.0273026390388293vmin currentColor;
}
.background span:nth-child(33) {
    color: #ffffff;
    top: 60%;
    left: 56%;
    animation-duration: 222s;
    animation-delay: -220s;
    transform-origin: -20vw 6vh;
    box-shadow: -2vmin 0 0.5384484287089208vmin currentColor;
}
.background span:nth-child(34) {
    color: #ffffff;
    top: 9%;
    left: 45%;
    animation-duration: 118s;
    animation-delay: -137s;
    transform-origin: 25vw -15vh;
    box-shadow: -2vmin 0 1.1721858069283773vmin currentColor;
}
.background span:nth-child(35) {
    color: #ffffff;
    top: 63%;
    left: 91%;
    animation-duration: 46s;
    animation-delay: -6s;
    transform-origin: -15vw -20vh;
    box-shadow: 2vmin 0 0.3819202206574257vmin currentColor;
}
.background span:nth-child(36) {
    color: #ffffff;
    top: 56%;
    left: 30%;
    animation-duration: 124s;
    animation-delay: -79s;
    transform-origin: 20vw -5vh;
    box-shadow: 2vmin 0 1.16509359142057vmin currentColor;
}
.background span:nth-child(37) {
    color: #ffffff;
    top: 3%;
    left: 97%;
    animation-duration: 184s;
    animation-delay: -105s;
    transform-origin: 19vw -23vh;
    box-shadow: -2vmin 0 1.1317806510333073vmin currentColor;
}
.background span:nth-child(38) {
    color: #ffffff;
    top: 47%;
    left: 87%;
    animation-duration: 74s;
    animation-delay: -33s;
    transform-origin: -6vw 0vh;
    box-shadow: -2vmin 0 1.1651102048129238vmin currentColor;
}
.background span:nth-child(39) {
    color: #ffffff;
    top: 37%;
    left: 31%;
    animation-duration: 163s;
    animation-delay: -190s;
    transform-origin: 21vw -13vh;
    box-shadow: 2vmin 0 0.6603017694853621vmin currentColor;
}
.background span:nth-child(40) {
    color: #ffffff;
    top: 75%;
    left: 59%;
    animation-duration: 87s;
    animation-delay: -101s;
    transform-origin: -19vw 2vh;
    box-shadow: 2vmin 0 0.4266110318902312vmin currentColor;
}
.background span:nth-child(41) {
    color: #ffffff;
    top: 82%;
    left: 58%;
    animation-duration: 100s;
    animation-delay: -137s;
    transform-origin: 16vw -7vh;
    box-shadow: -2vmin 0 0.9435185458525457vmin currentColor;
}
.background span:nth-child(42) {
    color: #ffffff;
    top: 100%;
    left: 78%;
    animation-duration: 128s;
    animation-delay: -191s;
    transform-origin: 4vw 10vh;
    box-shadow: -2vmin 0 1.2223894425232102vmin currentColor;
}
.background span:nth-child(43) {
    color: #ffffff;
    top: 19%;
    left: 80%;
    animation-duration: 177s;
    animation-delay: -74s;
    transform-origin: -12vw 8vh;
    box-shadow: -2vmin 0 1.0748950489124487vmin currentColor;
}
.background span:nth-child(44) {
    color: #ffffff;
    top: 26%;
    left: 64%;
    animation-duration: 123s;
    animation-delay: -30s;
    transform-origin: -4vw 23vh;
    box-shadow: 2vmin 0 1.0223095848206958vmin currentColor;
}
.background span:nth-child(45) {
    color: #ffffff;
    top: 5%;
    left: 79%;
    animation-duration: 59s;
    animation-delay: -17s;
    transform-origin: 5vw -24vh;
    box-shadow: -2vmin 0 0.6084255935612546vmin currentColor;
}
.background span:nth-child(46) {
    color: #ffffff;
    top: 37%;
    left: 96%;
    animation-duration: 127s;
    animation-delay: -109s;
    transform-origin: 15vw 3vh;
    box-shadow: -2vmin 0 0.6824138367651704vmin currentColor;
}
.background span:nth-child(47) {
    color: #ffffff;
    top: 47%;
    left: 100%;
    animation-duration: 45s;
    animation-delay: -212s;
    transform-origin: 24vw -6vh;
    box-shadow: 2vmin 0 1.1265358070192406vmin currentColor;
}
.background span:nth-child(48) {
    color: #ffffff;
    top: 15%;
    left: 66%;
    animation-duration: 128s;
    animation-delay: -177s;
    transform-origin: 10vw 18vh;
    box-shadow: 2vmin 0 0.8236702552864799vmin currentColor;
}
.background span:nth-child(49) {
    color: #ffffff;
    top: 43%;
    left: 14%;
    animation-duration: 10s;
    animation-delay: -151s;
    transform-origin: 3vw -22vh;
    box-shadow: 2vmin 0 1.1021017248580163vmin currentColor;
}
